/*Mapa*/
    .sass{
        padding: 200px 50px;
    }
    $redes:(
        twitter: #55acee,
        facebook: #3a5795,
        instagram: #F400BB,
    );
    @each $red, $color in $redes{
        .btn--#{$red}{
            background-color: $color;
            width: 100px;
            border-radius: 7px;
            padding: 10px 7px;
            margin: 10px 0;
        }
    }
    /*Extend*/
    .redSocial{
        border: 1px solid #F5B400;
        background-color: #70E000;
        width: 150px;
        text-align: center;
        padding: 20px 5px;
        margin: 10px 0;
    }
    .redsocial--social{
        @extend.redSocial;
        border: #F400BB dotted;
        border-radius: 10px;
    }
    .redsocial--nueva{
        @extend.redSocial;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    .redsocial--another{
        @extend.redSocial;
        border: 3px dashed #8136DC;
        
    }
    /*Mixin*/
    @mixin sizes ($width, $height) {
        height: $height;
        width: $width;
    }
    .my_mixin{
        @include sizes(500px, 150px);
        text-align: center;
        background-color: lightblue;
        border: #8136DC double;
        padding: 20px 5px;
        margin: 10px 0;
    }
    .my_mixintwo{
        @include sizes(300px, 550px);
        text-align: center;
        background-color: lightcoral;
        border: #F400BB dashed;
        padding: 20px 5px;
        margin: 10px 0;
    }
    .my_mixinthree{
        @include sizes(90px, 330px);
        text-align: center;
        background-color: steelblue;
        border: #70E000 dotted;
        padding: 20px 5px;
        margin: 10px 0;
    }
